.vscode/**
.git/**
.github/**
.gitignore
.eslintrc.js
tsconfig.json
inspector.config.json
src/**
out/**/*.map
*.vsix
npm-debug.log
yarn-error.log

node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/example/**
node_modules/**/examples/**
